html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}






body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
  font-size: 12px;
  line-height: 1.8;
  color:#000080;
  width: 100%;
    height: 100%;
     
}
.crucial
{
	font-weight: bold;
	font-size: 13px;
}

.block{
	
	min-height: 8px;
	background: #ffcc00;
	border: 0px;
	
}
.blockf{
	min-height: 4px;
	background: #dde7ed;
	border: 0px;
	
	
	
	
}
.blockg{
	
	min-height: 8px;
	background: white;
	border: 0px;
	
}
/*for flexable menu*/
.blockm{
	
	height: 50px;
	width:100%;
	background: white;
	border: 0px;
	
}
/*navbar*/
.gridcontainer {
	
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 50px;
	justify-content: center;  
align-items: center; 
	
	/*background:linear-gradient(#005ce6, #1a75ff);*/
	background:#1a75ff;
	padding-left:10%;
	padding-right:10%;
	z-index:999;
	position:relative;
}
.gridcontainerforhome {
	
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 90px;
	justify-content: center;  
align-items: center; 
	
	/*background:linear-gradient(#005ce6, #1a75ff);*/
	background:#1a75ff;
	
	z-index:999;
	position:relative;
}
.grid-items{
	align-self: center;
	
	padding: 10px;
	
}
/*bottom*/
.gridcontainer2 {
	
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 100px;
	
	background:#1a75ff;
	z-index:999;
	position:relative;
	padding-left:10%;
}
.grid-items2{
	
	align-self: center;
	padding: 10px;
	
}
header>div>a {
	color: white;
	font-size: 12px;
	font-weight: bold;
	
}
header>div>a:link{
	text-decoration:none;
}
header>div>a:hover{
	color: red;
	text-decoration:none;
}

header>h1{
    position: relative;
    $random-text: 'quick turnover';
    $stroke-width: $extra-large * 0.05;
     font-size: 35px;
     text-transform: uppercase;
    font-weight: 900;
    font-family: 'Catamaran', sans-serif;
    
	
    
	margin:0px;
	color:#000080;
	
  }
  
  /*crucial*/
 .section-wraper
 {
	 
	padding: 25px 10%;
	font-weight: bold;
	background: white;
	box-shadow: 0 0 10px 1px #88b1f2;
	z-index:1;
	position:relative;
}

/*For big picture without padding*/
 .section-wraper1
 {
	 
	
	font-weight: bold;
	background: white;
	box-shadow: 0 0 10px 1px #88b1f2;
	z-index:1;
	position:relative;
}


footer>div>h2
{
	background: #1a75ff;
	margin:0px;
	color: white;
	
	padding-left: 30px;
}
.fontdiff
{
	font-size:15px;
}
footer>div>img {  
	max-height: 100px;

	width: auto; 
	padding-left: 10px; 
	
}

<!-- Grid container for pie charts in program requirement section-->

.gridcontainer3
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 300px 300px;
	flex-wrap: nowrap;
	background:#ffcc00;
	
}
svg > g > g:last-child { pointer-events: none }

.gridcontainer4
{
	display: grid;
	
	grid-template-columns: 7fr 1fr;
	grid-template-row: 130px;
	
	
	
	
}
.gridcontainer5
{
	display: grid;
	
	grid-template-columns: 1fr 3fr;
	grid-template-row: 130px;
	
	
}

/*contacts grid*/
.gridcontainer6
{
	display: grid;
	
	grid-template-columns: 1fr 1fr 1fr;
	max-width:100%;
	grid-auto-rows: auto;
	
	
}
.inlinegrid1
{
	display: grid;
	
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	justify-items: center;
	margin: 7px 2px;
	background:linear-gradient(45deg, #a2bfe8, #e6edf7);
}
.gridcontainer7
{
	display: grid;
	
	grid-template-columns: 4fr 1fr 4fr 1fr 4fr 1fr 4fr;
	grid-template-rows: 3fr 1fr 3fr 1fr 3fr 1fr;
	align-items: center;
	justify-items: center;
	
}
/*icon complex*/
.gridcontainer8
{
	display: grid;
	grid-template-columns: 140px 15px 239px;
	grid-template-rows: 97px;
	max-width:50%;
	height:auto;
	padding-left:10%;
	
}
.gridcontainer9
{
	display: grid;
	grid-template-columns: 2fr 1fr;
	
}
/*center stuff*/	
.gridcontainer10	
{
	
	display:grid;
	justify-content: center;  
align-items: center; 
}
	

/*textbox on picture
/*Drop down menu package*/

/* Style The Dropdown Button */
.dropbtn {
  
  color: white;
	font-size: 12px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	padding: 18px 10%;
	background:#1a75ff;
	margin: auto;
	
}
.dropbtn:hover
{
	color: #bae4f7;
	text-decoration:none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  justify-self:center;
  justify-items: center;align-self:center;align-items: center;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  
  padding: 12px 16px;
  color: #000080;
	font-size: 10px;
	font-weight: none;
	text-decoration:none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	
	font-weight: bold;
	text-decoration:none;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
   width:100%
   
}
.box 
{
	padding: 0px 10%;
	font-weight: bold;
	background:#d7ecfa;
	
}

/*button*/
.button {
  background-color: #005ce6;
  border: none;
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.button:hover {
  background-color: #000080; /* Green */
}

/*autoplay slideshow*/
.slideshow { 
   
  position: relative; 
  width: 100%
  height: 100%;
  padding-bottom: 75%; 
  
}

.slideshow > div { 
  position: absolute; 
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px; 
}


/*image gallery*/
.gridcontainer11
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	
}
.gridcontainer12
{
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-template-rows: 1fr;
	
}
.gridcontanier13
{
	display:grid;
	grid-template-rows: 1fr 1fr 1fr 13px;
	
}
.gridcontainer14
{
	display:grid;
	grid-template-columns:2fr 1fr;
	
}

.gridcontainer15
{
	display:grid;
	grid-template-columns:1fr 2fr;
	
}


.statfont
{
	color:#b70404;
	font-family: BlackerDisplay-Medium,Times,Georgia,Arial,"Lucida Grande",serif;
	font-size: 58px;
    line-height: 62px;
	margin: 0 0;
	font-weight:bold;
	
}
.op
{
	
	opacity:0.93;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


